In [6]:
import pandas as pd
d1={"name":["sai","sub","poo"],"age":[20,21,22]}
d2={"qualified":[True,True,False]}
df1=pd.DataFrame(d1)
print(df1)
df2=pd.DataFrame(d2)
print(df2)
newdf=df1.join(df2)

  name  age
0  sai   20
1  sub   21
2  poo   22
   qualified
0       True
1       True
2      False

In [7]:
print(newdf)

  name  age  qualified
0  sai   20       True
1  sub   21       True
2  poo   22      False

In [13]:
d1={"name":["sai","rishi","thara"],"age":["20","21","22"]}
d2={"name":["yuvi","rithi","sanjay"],"age":["20","21","22"]}
df1=pd.DataFrame(d1)
print(df1)
df2=pd.DataFrame(d2)
print(df2)
newdf1=(df2.merge(df1,on="age"))
newdf2=(df1.merge(df2,on="age"))
print(newdf1)
print(newdf2)

    name age
0    sai  20
1  rishi  21
2  thara  22
     name age
0    yuvi  20
1   rithi  21
2  sanjay  22
   name_x age name_y
0    yuvi  20    sai
1   rithi  21  rishi
2  sanjay  22  thara
  name_x age  name_y
0    sai  20    yuvi
1  rishi  21   rithi
2  thara  22  sanjay